﻿@charset "utf-8";
/* CSS Document */
/***
 * uimaker
 * http://www.uimaker.com
 * e-mail: admin@uimaker.com
 */

* {
	font-size: 9pt;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: '微软雅黑';
	margin: 0 auto;
	min-width: 980px;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

a,a:focus {
	text-decoration: none;
	color: #000;
	outline: none;
	blr: expression(this.onFocus = this.blur ());
}

a:hover {
	color: #00a4ac;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.nav1 {
	padding-top: 20px;
	position: relative;
	padding: 20px;
	margin: 20px;
	float: inherit;
}

.nav {
	padding-top: 0px;
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
}

.nav li {
	padding-top: 0px;
	float: left;
	width: 87px;
	/*//height: 30px;*/
	text-align: center;
}

.nav li a {
	display: block;
	width: 87px;
	/*height: 30px;*/
	-moz-transition: none;
	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

.nav li a.selected {
	background: url(../images/navbg.png) no-repeat;
}

.nav li a:hover {
	display: block;
	background: #000;
	color: #fff;
	background: none repeat scroll 0% 0% rgb(43, 127, 181);
}

.nav li img {
	margin-top: 10px;
}

.nav li a {
	display: block;
}

.nav a h2 {
	font-size: 14px;
	color: #d6e8f1;
}

.nav a:hover h2 {
	color: #fff;
}

/*seachform*/
.seachform {
	height: 42px;
}

.seachform li {
	float: left;
	margin-right: 15px;
}

.seachform li label {
	padding-right: 10px;
	float: left;
	line-height: 32px;
}

.scinput {
	width: 150px;
	height: 32px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	text-indent: 10px;
}

.scbtn {
	width: 85px;
	height: 35px;
	background: url(../images/btnbg.png) no-repeat center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	behavior: url(js/pie.htc);
}

.text {
	width: 200px;
	height: 20px;
	border: 1px solid;
	padding-left: 56px;
	font-size: 14px;
	font-weight: bold;
}

.trh {
	height: 40px;
	font-size: 12pt;
}

.tdtype {
	color: #000;
}

a:link,a:visited {
	color: #FF0000;
}

a:hover,a:active {
	color: #000000;
}

.register-container {
	margin-top: 50px;
}

/* ----- Registration Form ----- */
.register form {
	background: #f8f8f8;
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
	text-align: center;
	height: 100%;
}

.register form h2 {
	margin-top: 5px;
	margin-bottom: auto;
	padding-bottom: initial;
	background: url(../img/pencil.png) 70px 6px no-repeat;
	border-bottom: 2px dotted #bbb;
	font-size: 27px;
	font-weight: 400;
	text-align: center;
}

.register form input {
	width: 95%;
	height: 30px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #888;
	font-size: 16px;
}

.register form input:focus {
	border: 1px solid #ccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.register form label {
	margin: 7px 0 10px 5px;
	font-size: 16px;
	text-align: left;
}

.register form input:-moz-placeholder {
	color: #aaa;
}

.register form input:-ms-input-placeholder {
	color: #aaa;
}

.register form input::-webkit-input-placeholder {
	color: #aaa;
}

.register form button {
	cursor: pointer;
	width: 60%;
	height: 36px;
	margin-top: 25px;
	padding: 0;
	background: #eb4141;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .1) inset;
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .1) inset;
	box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
div.exportlinks {
	margin: -5px 0 10px 10px;
	padding: 12px 4px 2px 0;
	width: 100%;
}

div.exportlinks a {
	text-decoration: none;
}

div.exportlinks span {
	background-repeat: no-repeat;
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

span.pagebanner {
	display: block;
	margin: 10px 0;
	padding: 2px 4px 2px 0;
}

span.pagelinks {
	display: block;
	font-size: 0.95em;
	margin-bottom: 5px;
	margin-top: -26px;
	padding: 2px 0;
	text-align: right;
	width: 80%;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	color: #000000;
}

div#main .tableHeaderImage {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 2px 0 0 -5px;
	position: absolute;
}

.table th {
	color: #000000;
	background-color: #74A0DD;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	height: 25px;
	text-align: left;
}

.table th.sorted a,.table th.sortable a {
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
}

.table th.sortableDefine a {
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
	margin-left: 30px;
}

.table tr.even {
	background: none repeat scroll 0 0 #D0E1F7;
	border-top: 1px solid #C0C0C0;
	height: 25px;
	color: #000000;
}

.table tr.odd {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #C0C0C0;
	height: 25px;
	color: #000000;
}

.table tr.a {
	color: #000000;
}

.table tr.over {
	background: #EDF3FF;
	border-top: 1px solid #7C9DAE;
	border-bottom: 1px solid #7C9DAE
}

.detail th {
	text-align: right;
}

.productLevel0List {
	text-align: center;
}

.productLevel0List .label {
	font-weight: bold;
	text-align: right;
}
.table_cx {
	
}

.table_cx th {
	height: 28px;
	font-size: 12px;
	border-top: 1px solid #feb808;
	border-bottom: 1px solid #feb808;
	color: #b8790c;
}

.table_cx th a {
	height: 28px;
	font-size: 12px;
	color: #b8790c;
	line-height: 28px;
}

.table_cx th a.biao {
	text-align: left;
	padding-left: 9px;
	border: 1px solid #feb808;
	border-width: 0 1px 0 1px;
}

.table_cx td {
	border: 1px solid #c9deec;
	border-width: 0 1px 1px 0;
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
	line-height: 22px;
	color: #3f4249;
	font-family: Arial, Helvetica, sans-serif;
}

.table_cx td.first {
	border-left: 1px solid #c9deec;
}

.table_cx td a {
	color: #0b5593;
	text-decoration: underline;
}

.table_cx td.left {
	text-align: left;
	padding-left: 9px;
	color: #3f4249;
	font-weight: bold;
}

.table_cx td.right {
	text-align: right;
	padding-right: 9px;
	color: #3f4249;
}

.table_cx font {
	color: #ba5c01;
	font-size: 12px;
}

.table_cx span {
	color: #1b5d89;
}

.table_cx tr.odd {
	
}

.table_cx tr.odd td {
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
	line-height: 18px;
	color: #3f4249;
	font-family: Arial, Helvetica, sans-serif;
	background: #f2f7ff;
}

.table_cx tr.odd td.left {
	text-align: left;
	padding-left: 9px;
	color: #3f4249;
	font-weight: bold;
}

.table_cx tr.odd td.right {
	text-align: right;
	padding-right: 9px;
	color: #3f4249;
}

.table_cx tr.over {
	
}

.table_cx tr.over td {
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
	line-height: 18px;
	color: #3f4249;
	font-family: Arial, Helvetica, sans-serif;
	background: #fbf6d7;
}

.table_cx tr.over td.left {
	text-align: left;
	padding-left: 9px;
	color: #3f4249;
	font-weight: bold;
}

.table_cx tr.over td.right {
	text-align: right;
	padding-right: 9px;
	color: #3f4249;
}

.table_cx tr.over .btn_add {
	width: 91px;
	height: 21px;
	cursor: pointer;
	border: none;
	color: #0b5593;
	line-height: 20px;
}

.cx_act {
	height: 29px;
	background: #d5ecfe;
	overflow: hidden;
	margin: 0 0px 5px;
}

.cx_act h3 {
	font-weight: normal;
	font-size: 12px;
	color: #506f8f;
	padding-left: 12px;
	height: 29px;
	line-height: 29px;
}

.cx_act h3 font {
	font-size: 14px;
	font-weight: bold;
	color: #c15330;
	line-height: 28px;
}

.cx_act span {
	float: right;
	width: 350px;
	height: 29px;
	overflow: hidden;
	color: #639dce;
	line-height: 28px;
	font-size: 12px;
	text-align: right;
	padding-right: 13px;
	margin-top: -29px;
	*margin-top: -25px;
	_margin-top: -29px;
}

.page {
	color: #315e81;
	font-size: 12px;
	line-height: 24px;
	padding-left: 4px;
}

.page span {
	color: #000000;
}

.page .btn {
	height: 16px;
	border: 1px solid #cfd2db;
	font-size: 12px;
	color: #3f4249;
	padding: 0px;
	background: #FFFFFF;
}

.table_add {
	background: #ffffff;
	font-size: 12px;
}

.table_add td {
	padding: 10px 30px;
	border-bottom: 1px solid #c9deec;
}

.table_add tr.yellow {
	background: #fff6e0;
}

/*全选按钮样式*/
.selectall {
	font-size: 12px;
	color: #b8790c;
}